.text-field
  = form.label :email
  = form.email_field :email
.text-field
  = form.label :username
  = form.text_field :username
.password-field
  = form.label :password
  = form.password_field :password
