%h3 Add a song
= form_for @song do |form|
  = form.url_field :song_url, placeholder: "Song URL", required: true
  = form.text_field :notes, placeholder: "Notes"
  = form.submit "Submit"

%h2!= 'White tea' if @songs.white.present?
= render @songs.white

%h2!= 'Green tea' if @songs.green.present?
= render @songs.green

%h2!= 'Black tea' if @songs.black.present?
= render @songs.black

%h2!= 'Herbal tea' if @songs.herbal.present?
= render @songs.herbal
