<h1>Dashboard</h1>

<%= form_for @song do |form| %>
  <%= form.url_field :song_url, placeholder: "Song URL", required: true %>
  <%= form.text_field :notes, placeholder: "Notes" %>
  <%= form.submit "Submit" %>
<% end %>


<h3>Songs URL - Notes</h3>

<% @songs.each do |song| %>
  <div>
    <%= song.song_url %>
    <%= song.notes %>
  </div>
<% end %>
