%h1 Dashboard

= form_for @song do |form|
  = form.url_field :song_url, placeholder: "Song URL", required: true
  = form.text_field :notes, placeholder: "Notes"
  = form.submit "Submit"

= render @songs
